/* <style type="text/css">
    .st0{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
    .st1{font-family:'Roboto-Regular';}
    .st2{font-size:14px;}
</style>  */

/* .st0{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
.st01{fill:none;stroke:#000000;stroke-width:0.00005;stroke-linecap:round;stroke-linejoin:round;}
#layer_0{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
.st1{font-family:'Roboto-Regular';}
.st2{font-size:14px;}

.st_0{fill:#F8A758;stroke:#808080;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
.st_1{fill:#8EC79A;stroke:#808080;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
.st_2{fill:#FFEB64;stroke:#808080;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
.st_3{fill:#AC8FC7;stroke:#808080;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
.st_4{fill:#89B8E4;stroke:#808080;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
.st_5{fill:#E89BBD;stroke:#808080;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
.st_6{fill:#FBD165;stroke:#808080;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
.st_7{fill:#BACE6B;stroke:#808080;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
.st_8{font-family:'Roboto-Regular';}
.st_9{font-size:14px;} */


#layer_1{stroke:#000000;stroke-width:0.0005;stroke-linecap:round;stroke-linejoin:round;fill:yellow;}

#Vietnam-provinces{
    stroke:#000000;stroke-width:0.0013;stroke-linecap:round;stroke-linejoin:round; 
}

#svg_provinces{
    stroke:#000000;stroke-width:0.0013;stroke-linecap:round;stroke-linejoin:round; 
}

#svg_districts{
    stroke:#000000;stroke-width:0.0008;
    /* stroke-linecap:round;stroke-linejoin:round ; */
}

#svg_communes{
    stroke:#000000;stroke-width:0.00005;stroke-linecap:round;stroke-linejoin:round;
}

#path{
    stroke:black;
}